---
title: Swagger Page for Swagger
---

<div id="header">
  <h1>
    <%= image_tag 'user.png', class: "img-circle text-sized"%>
    Gaetan.JPEG
  </h1>
  <h2><strong>Vraiment</strong> swag <strong>et</strong> cool</h2>
</div>

  <div class="bg-blue", style="background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/q82/s2048x2048/10548006_504880492991868_5436874274153666497_o.jpg')" >
  </div>

<div class="bg-2">
  <h2><strong>ici</strong> repose le swag</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card-white">
        <h3>Pourquoi autant de swag ?</h3>
        <p>
          Euh, pour moi le swag est bien plus qu'un mot c'est une sensation.
          C'est quelque chose que l'on se découvre en sillonant son tendre
          ter-ter.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="card-white">
        <h3>Commen forger son swag ?</h3>
        <p>
          Très bonne question, le swag est bien plus que tout se que tu peux
          imaginer. C'est pour cela que pour forger mon swag, je concentre toute
          ma force et ma volonté pour lui appliquer les plus grandes pressions.
        </p>
      </div>
    </div>
  </div>
</div>

  <div class="bg-3">
    <h2>Transcende <strong>ton</strong> swag</h2>
    <p>


    </p>
    <%= link_to '  la page facebook du swag', 'https://www.facebook.com/pages/GaetanJPEG/424374601042458?ref=tn_tnmn', class: "fa fa-facebook-official btn btn-primary"%>
  </div>
